@import 'variables';

.contacts {
  width: 100%;
  padding-top: 30px;

  &__wrapper {  
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    @include tablet-xs {
      max-width: 480px;
    }
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    
  }

  &__logo-container {
    width: auto;
    padding: 0 15px;

    @include tablet {
      max-width: 33%;
    }
  }
  &__img {
    width: 100%;
    height: auto;
  }

  // &__content {
  //   padding: 0 15px;
  // }
  &__text {
    margin-top: 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

  }
  &__item {
    text-align: center;
  }
  &__item>img {
    width: 55px;
  }

  &__social-title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__email {
    display: block;
    color: black;
    text-decoration: none;
  }

  &__links {
    padding-left: 44px;
  }
}